---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Config from '../../consts';
import { getCollection, CollectionEntry } from 'astro:content';

const photos = await getCollection('photos', ({ data }) => {
    return data.draft !== true;
});

const orderedPhotos: CollectionEntry<'photos'>[] = photos.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={Config.SITE_TITLE} description={Config.SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				{
					orderedPhotos.map((photo) => (
						<article>
							<a href={`/photos/${photo.slug}/`}>
								<img src={photo.data.img} width={860} height={392} alt="photography img">  
							</a>
							<h3>{photo.data.title}</h3>
							<i class="fa fa-camera" aria-hidden="true"></i>
							Nikon D7000
							<br>
							<a href={`/photos/${photo.slug}/`}>
								<button type="button">View Gallery</button>
							</a>
						</article>
					))
				}
			</section>
		</main>
		<Footer />
	</body>
</html>
